* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: Roboto, sans-serif;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1f2937;
    display: flex;
    align-items: center;
    padding: 8px 150px;
}

.left-logo {
    color: #f9faf8;
    font-size: 24px;
    margin-right: auto;
}

.right-links ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 16px;
}

.right-links a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.hero {
    background-color: #1f2937;
    padding: 64px 150px;
    display: flex;
    gap: 18px;
}

.hero-left {
    width: 50%;
}

.hero-left .main-text {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

.hero-left .sub-text {
    color: #e5e7eb;
    font-size: 18px;
    font-weight: lighter;
}

.hero-left button {
    background-color: #3882f6;
    color: #f9faf8;
    font-weight: bold;
    padding: 8px 28px;
    margin-top: 8px;
    border: 0;
    border-radius: 8px;
}

.hero-right {
    background-color: grey;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding-top: 24px;
    padding-bottom: 36px;
}

.info-title {
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
}

.info-container {
    display: flex;
    justify-content: center;
    gap: 26px;
}

.info-item {
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-item-pic {
    width: 150px;
    height: 150px;
    border: 2px solid #3882f6;
    border-radius: 12px;
}

.info-item-text {
    text-align: center;
    font-weight: lighter;
}

.footer {
    background-color: #1f2937;
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer p {
    color: #e5e7eb;
    font-size: 18px;
}